[submodule "claude-law-app"]
	path = claude-law-app
	url = ./claude-law-app/
[submodule "claude-law"]
	path = claude-law
	url = ./claude-law
[submodule "lacan"]
	path = lacan
	url = ./lacan/
[submodule "macos/claude-code"]
	path = macos/claude-code
	url = git@github.com:Asher-/claude-code.git
[submodule "hopper-mcp"]
	path = hopper-mcp
	url = git@github.com:Asher-/claude-hopper-mcp.git
[submodule "speakers"]
	path = speakers
	url = git@github.com:Asher-/speakers.git
[submodule "photography"]
	path = photography
	url = git@github.com:StrongAI/claude-photography.git
[submodule "csgo"]
	path = csgo
	url = git@github.com:XNN-LLC/csgo-cs2-server-build-1-click.git
[submodule "mcp/statement"]
	path = mcp/statement
	url = git@github.com:StrongAI/claude-statement-mcp.git
[submodule "db/core"]
	path = db/core
	url = git@github.com:StrongAI/claude-db-core.git
[submodule "db/statements"]
	path = db/statements
	url = git@github.com:StrongAI/claude-db-statements.git
[submodule "skills"]
	path = skills
	url = ./skills/
[submodule "strongai"]
	path = strongai
	url = git@github.com:StrongAI/claude-strongai.git
[submodule "development_loopback"]
	path = development_loopback
	url = git@github.com:Asher-/development-loopback.git
